@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Reglamento
            <small>Extracto</small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">About</li>
        </ol>
        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
            </div>
            <div class="col-lg-6">
                <h2>About Modern Business</h2>
                <p>El Reglamento como instrumento pedagógico es fundamental en los lineamientos organizativo de 
                nuestra Escuela, y como resultado del trabajo de la Comunidad Educativa “Juan Ricardo Sánchez 
                Ascencio” determina el conjunto de normas que regulen la convivencia escolar entre docentes, 
                alumnos, alumnas, Padres , Apoderados, personal administrativo y auxiliar y que facilite el 
                proceso académico, disciplinario, de refuerzo y de formación en el desarrollo de cada uno de 
                las personas que conforman la nuestra Unidad. </p>
                <p>Este Reglamento contiene derechos y deberes de cada uno de los actores, procedimiento 
                disciplinario claro y basado preferentemente en el diálogo como instrumento privilegiado
                para abordar los conflictos.</p>
                <p>A continuacion podra encontrar los diferentes extractos aplicables al establecimiento:</p>
            </div>
        </div>
        <!-- /.row -->
        <!-- Team Members -->
        <h2>Reglamentos</h2>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/Images/pdf-icon.jpg" alt="Documento">
                    <div class="card-body">
                        <h4 class="card-title">Reglamento Convivencia Escolar</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Protocolo y plan</h6>
                        <p class="card-text">El Plan de Convivencia Escolar es un documento que sirve para estructurar la organización 
                        y funcionamiento de la escuela en torno al tema de la convivencia escolar, especificando objetivos y actividades.</p>
                    </div>
                    <div class="card-footer">
                        <a href="http://wwwfs.mineduc.cl/Archivos/infoescuelas/documentos/7332/ReglamentodeConvivencia7332.pdf" target="_blank">Ver</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/Images/pdf-icon.jpg" alt="Documento">
                    <div class="card-body">
                        <h4 class="card-title">Plan Seguridad Escolar</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Escuela Segura</h6>
                        <p class="card-text">En este documento se establecen las acciones que debe cumplir todo el personal del establecimiento en caso de cualquier emergencia en torno al establecimiento</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" target="_blank">Ver</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/Images/pdf-icon.jpg" alt="Documento">
                    <div class="card-body">
                        <h4 class="card-title">Reglamento de Evaluacion y Promocion</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Educacion general basica</h6>
                        <p class="card-text">El presente Reglamento de Evaluación y Promoción considera las disposiciones contenidas en los Decretos establecidos por el Mineduc.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" target="_blank">Ver</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Our Customers -->
        <h2>Our Customers</h2>
        <div class="row">
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </div>
        </div>